---
import { Image } from "astro:assets";
// Layout
import PageLayout from "../../layouts/PageLayout.astro";

// Components
import {
  Section,
  CenterTitle,
  CarouselSubtext,
  AlternateCarousel,
  Carousel,
  CTA,
  SectionSubTitle
} from "../../components/layout";

import {
  Dice,
  AcademicCap,
  ExpLearning,
  Beaker,
  Sport,
  Pet,
  Parent,
  ChartBar,
  Events,
} from "../../assets/icons/academic-sections";

// Types
import type { slide } from "../../components/layout/types";
import { AcademicSection } from "../../components/home";

// Assets
import SenoirSecondary from "../../assets/images/senior-secondary/hero/hero2.png";
const gr12res = await Astro.glob(
  "../../assets/images/senior-secondary/grade12res/*.webp"
);
const UnboundSeries = await Astro.glob(
  "../../assets/images/senior-secondary/unbound-series/*.webp"
);
const sportsActivities = await Astro.glob(
  "../../assets/images/senior-secondary/sports/*.webp"
);
const learningFromTheLegend = await Astro.glob(
  "../../assets/images/senior-secondary/learning-from-legends/*.webp"
);
const communityOutreachProgram = await Astro.glob(
  "../../assets/images/senior-secondary/community-outreach/*.webp"
);
const dontBreathe = await Astro.glob(
  "../../assets/images/senior-secondary/don't-breathe/*.webp"
);
const heritageWalks = await Astro.glob(
  "../../assets/images/senior-secondary/heritage-walk/*.webp"
);
const CollegeEvents = await Astro.glob(
  "../../assets/images/senior-secondary/college-events/*.webp"
);
const CareerCounselling = await Astro.glob(
  "../../assets/images/senior-secondary/career-counselling/*.webp"
);

const ImageMapper = (glob: Record<string, any>[], description?: any) => {
  const mappedImages = glob.map((file) => {
    const title = file.default.src.split("/").pop().split(".")[0];
    const img: ImageMetadata = file.default;
    const obj: slide = { img, title };
    if (description) obj["description"] = ElectiveDescription[title];
    return obj;
  });
  return mappedImages;
};

const mappedUnboundSeries = ImageMapper(UnboundSeries);
const mappedCollegeEvents = ImageMapper(CollegeEvents);
const mappedCareerCounselling = ImageMapper(CareerCounselling);
---
<PageLayout
  title="Higher Secondary"
  navtext="Home"
  transparentNav={true}
  buttonLink="/"
  bgSrc={`url(${SenoirSecondary.src})`}
>

  <p slot="hero-content">You are exploring Senior High School !!!</p>

  <section style={{paddingBottom:'42px'}} class="relative pt-10">
    <!-- Left Accents -->

    <!-- Right Accents -->

    <div class="bg-white/20 mx-auto md:w-3/4 2xl:w-3/4 py-10 px-14 relative z-40">
      <CenterTitle title="Page Content" theme="dark" />
      
      <!-- Academic Sections -->
      <div class="grid grid-cols-1 gap-8">
          <!-- First Row -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-evenly">
              <AcademicSection href="/higher-secondary/academics" title="Academics">
                  <AcademicCap slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/g12result" title="Grade 12 Results">
                  <Beaker slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/expLearning" title="Experential Learning">
                  <ExpLearning slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/shsCoach" title="SHS Integrated Coaching">
                  <ChartBar slot="icon" height={8} width={8} />
              </AcademicSection>
          </div>
          
          <!-- Second Row -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-evenly">
              <AcademicSection href="/higher-secondary/unbound" title="The Unbound Series">
                  <Dice slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/counselling" title="Career Counselling">
                  <Parent slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/events" title="College Events">
                  <Events slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/sports" title="Sports">
                  <Sport slot="icon" height={8} width={8} />
              </AcademicSection>
          </div>
      </div>
  </div>
</section>

  <!-- Experiential Learning -->
  <div id="experential-learning"></div>
  <Section title="Experiential Learning">
    <p>
      We recognize that the 21st-century demands skills beyond traditional
      academic knowledge. It requires problem-solving abilities, adaptability,
      effective communication, and a deep understanding of the
      interconnectedness of knowledge across disciplines.
    </p>
    <p>
      In our Science classes, students don't just read about experiments they
      design and conduct their own, developing a curiosity-driven approach to
      learning and striving to create ideas that can be patented one day! Our
      Humanities courses extend beyond textbooks, with field trips, guest
      speakers, and community projects that bring history, literature, and
      social studies to life. Our Commerce students are exploring partnerships
      with local businesses, organizations, and community leaders that provide
      students with real-world exposure, helping them make connections between
      what they learn in the classroom and its practical applications in various
      industries.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20 p-2">
      <div class="p-4">
        <SectionSubTitle title="Learning from the Legends"/>
        <p>
          Learning from the legends in various fields is a priceless opportunity
          that provides invaluable insights, inspiration, and guidance to our
          students. The campus invites legends and pioneers from diverse fields
          including Padma awardees, Arjuna awardees, Magsaysay awardees,
          acclaimed artists, athletes and successful entrepreneurs who have left
          a lasting impact in their respective domains. These interactions are
          extremely valuable for our young minds to aspire and dream BIG!!!
        </p>
        <Carousel
          id="1"
          media={learningFromTheLegend.map((file) => file.default)}
          type="img"
          theme="accent"
        />
      </div>
      <div class="p-4">
        <SectionSubTitle title="Community Outreach Program"/>
        <p>
          The Sacred Heart School Model Village Project at Pendhri Gram
          Panchayat enables Grade 11 & 12 students to engage in sustainable
          development initiatives, including improving education, health,
          agriculture, and tourism. These efforts align with UN SDGs and create
          new income opportunities for local youth and women. Participating in
          these programs gives our children firsthand experience of empathy,
          cultural understanding, and community responsibility.
        </p>
        <Carousel
          id="2"
          media={communityOutreachProgram.map((file) => file.default)}
          type="img"
          theme="accent"
        />
      </div>
      <div class="p-4">
        <SectionSubTitle title="The Don't Breathe Campiagn"/>
        <p>
          In 2022, Khadakpada in Kalyan was featured among the top 10 polluted
          cities in Asia with an AQI of 256, as reported by India Today. An AQI
          between 201-200 is considered poor and alarming for young children and
          adults alike. Grade 11 students designed a campaign to raise awareness
          among the citizens of Kalyan, Ulhasnagar, and the adjoining areas to
          pull Khadakpada off the list. Students' action prompted Kalyan
          Dombivli Municipal Corporation to act, with ongoing support from
          parents and citizens.
        </p>
        <Carousel
          id="3"
          media={dontBreathe.map((file) => file.default)}
          type="img"
          theme="accent"
        />
      </div>
      <div class="p-4">
        <SectionSubTitle title="Heritage walks and Knowing the Legacy"/>        
        <p>
          A Heritage Walk through Mumbai offers students a journey through the
          city's rich history and culture, from the Asiatic Library to Marine
          Drive, showcasing a fusion of the old and new. Similarly, walks in
          historic Kalyan explore its resilience and diversity, celebrating its
          role as the birthplace of the Indian Navy. Our high school students
          have also collaborated with the CSMVS museum on initiatives like the
          Sustained Enrichment Programme, Museum on Wheels, and Think Museum.
        </p>
        
        <Carousel
          id="4"
          media={heritageWalks.map((file) => file.default)}
          type="img"
          theme="accent"
        />
      </div>
    </div>
  </Section>

<CTA />
</PageLayout>