---
import { Image } from "astro:assets";
// Layout
import PageLayout from "../../layouts/PageLayout.astro";

// Components
import {
  Section,
  CenterTitle,
  CarouselSubtext,
  AlternateCarousel,
  Carousel,
  CTA,
  SectionSubTitle
} from "../../components/layout";

import {
  Dice,
  AcademicCap,
  ExpLearning,
  Beaker,
  Sport,
  Pet,
  Parent,
  ChartBar,
  Events,
} from "../../assets/icons/academic-sections";

// Types
import type { slide } from "../../components/layout/types";
import { AcademicSection } from "../../components/home";

// Assets
import SenoirSecondary from "../../assets/images/senior-secondary/hero/hero2.png";
const gr12res = await Astro.glob(
  "../../assets/images/senior-secondary/grade12res/*.webp"
);
const UnboundSeries = await Astro.glob(
  "../../assets/images/senior-secondary/unbound-series/*.webp"
);
const sportsActivities = await Astro.glob(
  "../../assets/images/senior-secondary/sports/*.webp"
);
const learningFromTheLegend = await Astro.glob(
  "../../assets/images/senior-secondary/learning-from-legends/*.webp"
);
const communityOutreachProgram = await Astro.glob(
  "../../assets/images/senior-secondary/community-outreach/*.webp"
);
const dontBreathe = await Astro.glob(
  "../../assets/images/senior-secondary/don't-breathe/*.webp"
);
const heritageWalks = await Astro.glob(
  "../../assets/images/senior-secondary/heritage-walk/*.webp"
);
const CollegeEvents = await Astro.glob(
  "../../assets/images/senior-secondary/college-events/*.webp"
);
const CareerCounselling = await Astro.glob(
  "../../assets/images/senior-secondary/career-counselling/*.webp"
);


const ImageMapper = (glob: Record<string, any>[], description?: any) => {
  const mappedImages = glob.map((file) => {
    const title = file.default.src.split("/").pop().split(".")[0];
    const img: ImageMetadata = file.default;
    const obj: slide = { img, title };
    if (description) obj["description"] = ElectiveDescription[title];
    return obj;
  });
  return mappedImages;
};

const mappedUnboundSeries = ImageMapper(UnboundSeries);
const mappedCollegeEvents = ImageMapper(CollegeEvents);
const mappedCareerCounselling = ImageMapper(CareerCounselling);
---
<PageLayout
  title="Higher Secondary"
  navtext="Home"
  transparentNav={true}
  buttonLink="/"
  bgSrc={`url(${SenoirSecondary.src})`}
>
  <p slot="hero-content">You are exploring Senior High School !!!</p>

  <section style={{paddingBottom:'42px'}} class="relative pt-10">
    <!-- Left Accents -->

    <!-- Right Accents -->

    <div class="bg-white/20 mx-auto md:w-3/4 2xl:w-3/4 py-10 px-14 relative z-40">
      <CenterTitle title="Page Content" theme="dark" />
      
      <!-- Academic Sections -->
      <div class="grid grid-cols-1 gap-8">
          <!-- First Row -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-evenly">
              <AcademicSection href="/higher-secondary/academics" title="Academics">
                  <AcademicCap slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/g12result" title="Grade 12 Results">
                  <Beaker slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/expLearning" title="Experential Learning">
                  <ExpLearning slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/shsCoach" title="SHS Integrated Coaching">
                  <ChartBar slot="icon" height={8} width={8} />
              </AcademicSection>
          </div>
          
          <!-- Second Row -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-evenly">
              <AcademicSection href="/higher-secondary/unbound" title="The Unbound Series">
                  <Dice slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/counselling" title="Career Counselling">
                  <Parent slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/events" title="College Events">
                  <Events slot="icon" height={8} width={8} />
              </AcademicSection>
              <AcademicSection href="/higher-secondary/sports" title="Sports">
                  <Sport slot="icon" height={8} width={8} />
              </AcademicSection>
          </div>
      </div>
  </div>
</section>


<!-- Sports Activities -->
<div id="sports-activities"></div>
<Section title="Sports Activities">
  <div class="flex flex-col-reverse lg:flex-row justify-evenly">
    <p class="rounded-lg text-black bg-white p-10 lg:w-2/5">
      Our high school program draws a fine balance between academics, sports and
      various skill enriching activites. This is essential to ensure our
      teenagers grow in a healthy environment that fosters physical fitness,
      psychological and social well being that are crucial in modern world's
      stressful setting. Moreover it enhances their resumes for college
      applications demonstrating well-rounded personalities.
    </p>
    <div class="w-full lg:w-2/5">
      <Carousel
        id="1"
        media={sportsActivities.map((file) => file.default)}
        type="img"
        theme="accent"
      />
    </div>
  </div>
</Section>

<CTA />
</PageLayout>