---
// Components
import { Image } from "astro:assets";
import PlannerPill from "../PlannerPill.astro";

// Assets
import PlannerImg from "../../../assets/images/accordian/35.webp";
---

<div class="flex flex-col md:flex-row justify-evenly items-center">
    <p class="md:w-1/2 lg:w-1/2 text-black">
        The teaching-learning approaches address an inquiry-based and concept-driven
        transdisciplinary model, which imparts multiple opportunities to use their 
        imagination to respond to new and unexpected challenges and opportunities 
        and to take action for a better and more peaceful world.
    </p>
    <div class="md:w-1/3 w-full ">
        <PlannerPill
            title="Nursery Planner"
            href="https://drive.google.com/file/d/1RWe_0xxZ2Rx6XoeRIaCL1i-3-MVy32tO/view?usp=sharing"
        />
        <PlannerPill
            title="Jr. Kindergarten Planner"
            href="https://drive.google.com/file/d/1NH9TynkL0_qFljPuaNaUkovyNzIQeut9/view?usp=sharing"
        />
        <PlannerPill
            title="Sr. Kindergarten Planner"
            href="https://drive.google.com/file/d/1fcozF94B6VyMueYpSfMkbBYWFi2QP4Ek/view?usp=sharing"
        />
    </div>

    <Image
        src={PlannerImg}
        alt="Curriculum"
        class="md:w-1/2 md:h-auto lg:h-64 lg:w-auto"
    />
</div>
