---
import { Image } from "astro:assets";
import SubjectImg from "../../../assets/images/accordian/Subjects.png";
---

<div class="flex flex-col md:flex-row justify-evenly items-center">
    <p class="md:w-1/2 lg:w-1/3 text-black">
        In the Foundational Stage, encompassing Junior and Senior Kindergarten,
        the curriculum covers English, Hindi, Maths and Environmental Studies
        (EVS). Nursery education includes key components such as Literacy,
        Numeracy, General Awareness, and introduces Hindi early on to facilitate
        language acquisition. Our approach incorporates the well-regarded Jolly
        Phonics method, creating a dynamic and interactive foundation for
        literacy. Moreover, we design activities that encourage joyful and
        hands-on learning experiences for our students.
    </p>
    <Image
        src={SubjectImg}
        alt="Curriculum"
        class="md:w-1/2 md:h-auto lg:h-68 lg:w-auto"
    />
</div>

<style>
    .tab-text {
        @apply mb-8 lg:mb-16 text-black;
    }
    .tab-text h3 {
        @apply text-lg font-bold;
    }
</style>
