---
import { Image } from "astro:assets";
// Layout
import PageLayout from "../../layouts/PageLayout.astro";

// Components
import {
    Section,
    CenterTitle,
    SectionTitle,
    CarouselSubtext,
    AlternateCarousel,
    Carousel,
    CTA
} from "../../components/layout";
import { AcademicSection } from "../../components/home";
import {
  Dice,
  AcademicCap,
  ExpLearning,
  Beaker,
  ChartBar,
  Sport,
  Pet,
  Parent,
} from "../../assets/icons/academic-sections";


// Types
import type { slide } from "../../components/layout/types";

// Assets
import SecondaryHero from "../../assets/images/secondary/hero.png";
import ElectiveDescription from "../../assets/images/secondary/electives/description.json";
const IX = await Astro.glob("../../assets/images/secondary/insight-xchange/*.png");
const gr10res = await Astro.glob("../../assets/images/secondary/grade10res/*.jpg");
const Electives = await Astro.glob(
    "../../assets/images/secondary/electives/*.webp",
);
const LearningPathways = await Astro.glob(
    "../../assets/images/secondary/learning-pathways/*.jpg",
);
const integratedTech = await Astro.glob(
    "../../assets/images/secondary/integrated-tech/*.webp",
);
const parentalInvolvement = await Astro.glob(
    "../../assets/images/secondary/parental-involvement/*.jpg",
);

const ImageMapper = (glob: Record<string, any>[], description?: any) => {
    const mappedImages = glob.map((file) => {
        const title = file.default.src.split("/").pop().split(".")[0];
        const img: ImageMetadata = file.default;
        const obj: slide = { img, title };
        if (description) obj["description"] = ElectiveDescription[title];
        return obj;
    });
    return mappedImages;
};

const mappedElectives = ImageMapper(Electives, ElectiveDescription);
const mappedLearningPathways = ImageMapper(LearningPathways);
const mappedParentalInvolvement = ImageMapper(parentalInvolvement);
---

<PageLayout
    title="Secondary"
    navtext="Home"
    transparentNav={true}
    buttonLink="/"
    bgSrc={`url(${SecondaryHero.src})`}
>
    <p slot="hero-content">
        Welcome to Our Secondary Section. We invite you to explore the myriad<br
        />
        possibilities that await in our secondary section.<br />
        Discover the excitement of elective subjects, the practicality of life skills,
        and the joy of lifelong learning.<br />
        Together, let's embark on a journey of education that goes beyond the ordinary.
    </p>
    <section class="relative pt-10">
        <!-- Left Accents -->
    
        <!-- Right Accents -->
    
        <div
          class="bg-white/20 mx-auto md:w-3/4 2xl:w-3/4 py-10 px-14 relative z-40"
        >
          <CenterTitle title="Page Content" theme="dark" />
          <!-- With 4 Academic Sections -->
    
          <div class="grid grid-cols-2 gap-8 lg:flex justify-evenly">
            <!-- With 3 Academic Sections -->
            <!-- <div class="flex justify-evenly"> -->
            <!-- Pre-Primary -->
            <AcademicSection href="/pre-primary/academics" title="Academics">
              <AcademicCap slot="icon" height={8} width={8} />
            </AcademicSection>
    
            <!-- Primary -->
            <AcademicSection
              href="/pre-primary/experential-learning"
              title="Experential Learning"
            >
              <ExpLearning slot="icon" height={8} width={8} />
            </AcademicSection>
    
            <!-- Secondary -->
            <AcademicSection href="/pre-primary/motor-activities" title="Motor Activities">
              <Beaker slot="icon" height={8} width={8} />
            </AcademicSection>
    
            <!-- Higher Secondary -->
            <AcademicSection href="/pre-primary/sports" title="Sports & Events">
              <Sport slot="icon" height={8} width={8} />
            </AcademicSection>
    
            <AcademicSection href="/pre-primary/pets" title="Pet Assisted Therapy">
              <Pet slot="icon" height={8} width={8} />
            </AcademicSection>
    
            <AcademicSection href="/pre-primary/life-skills" title="Life Skills & Moral Values">
              <Dice slot="icon" height={8} width={8} />
            </AcademicSection>
    
            <AcademicSection href="/pre-primary/parents" title="Parent's Testimonials">
              <Parent slot="icon" height={8} width={8} />
            </AcademicSection>
          </div>
        </div>
      </section>
      <div class="mt-10"></div>
    
    <!-- Insight Xchange -->
    <Section theme="accent">
        <div class="p-10 rounded-lg bg-white text-black">
            <div class="flex flex-col md:flex-row">
                <div class="md:w-1/2">
                    <h3 class="text-2xl font-bold mb-4">
                        Insight Xchange Series
                    </h3>
                    <p>
                        At Sacred Heart, we believe in providing our students
                        with opportunities to expand their horizons and delve
                        into specialized knowledge. Our Expert Sessions are
                        designed to bring seasoned professionals, industry
                        leaders, and subject matter experts into the educational
                        realm, offering students a unique chance to gain
                        insights, learn from real-world experiences, and connect
                        with experts in various fields.
                    </p>
                </div>
                <div class="mt-4 md:mt-auto md:w-1/2 flex">
                    {
                        IX.map((img) => {
                            return (
                                <Image
                                    src={img.default}
                                    alt="Insight Xchange"
                                    class="w-[45%] h-min mx-2 border-2 md:border-4 border-yellow-400"
                                />
                            );
                        })
                    }
                </div>
            </div>
        </div>
    </Section>
    
    <CTA />
</PageLayout>

<style>
    p {
        @apply mb-8 text-justify;
    }
</style>
