---
// Icons
import { Next, Prev } from "../../assets/icons";

// Swiper CSS
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/effect-fade";

interface Props {
    photos: Array<string>;
}
const { photos } = Astro.props as Props;
---

<div class="swiper-container">
    <div class="swiper overflow-hidden w-full px-2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {
                photos.map((photo) => (
                    <div class="swiper-slide h-full grid place-items-center">
                        <img
                            src={photo}
                            alt="image"
                            class="object-cover h-full w-full rounded-lg"
                        />
                    </div>
                ))
            }
        </div>

        <!-- If we need navigation buttons -->
    </div>
    
    <div class="swiper-btns mt-3 flex items-center justify-between">
        <div>
            <button class="slide-prev mr-1">
                <img class="w-8" src={Prev.src} alt="Prev Button" />
            </button>
            <button class="slide-next ml-1">
                <img class="w-8" src={Next.src} alt="Next Button" />
            </button>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<style is:global>
    .swiper-pagination {
        @apply relative;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        @apply bottom-0;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        @apply left-0 translate-x-0;
    }
</style>

<script>
    // Swiper
    import Swiper from "swiper";
    import {
        EffectFade,
        Autoplay,
        Navigation,
        Pagination,
    } from "swiper/modules";

    Swiper.use([EffectFade, Autoplay, Navigation, Pagination]);
    const swiper = new Swiper(".swiper", {
        loop: true,
        // TODO: Fix Fade effect
        spaceBetween: 30,
        effect: "fade",
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".slide-next",
            prevEl: ".slide-prev",
        },
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
</script>