---
// Apply-now component
// variant - light | transparent

// Components
import { Image } from "astro:assets";
import { OutlineBtn } from "../../components/layout";

// Images
import bus from "../../assets/images/bus.webp";
import rocket from "../../assets/icons/rocket.svg";
---

<section
  class="bg-primary-dark flex flex-col md:flex-row justify-evenly items-center py-8 px-4 md:px-12 lg:px-32"
>
  <!-- Content -->
  <div class="mb-8">
    <h2 class="text-xl font-bold mb-4">
      Unlock Your Future at Sacred Heart, Kalyan!
    </h2>
    <div class="flex items-center">
      <img class="h-8 mr-4" src={rocket.src} alt="rocket" />
      <p>
        Ready to embark on a journey of knowledge, growth and endless<br />
         possibilities?
      </p>
    </div>
  </div>
  <!-- Redirect Button -->
  <div class="flex flex-col items-center">
    <Image class="w-32 -scale-x-100" src={bus} alt="bus" />
    <OutlineBtn href="/admission">
      Apply Now
      <svg
        fill="currentColor"
        viewBox="0 0 24 24"
        class="icon w-6 h-6 transition-all ease-in-out"
      >
        <path
          clip-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
          fill-rule="evenodd"></path>
      </svg>
    </OutlineBtn>
  </div>
</section>

<!-- <div class="home flex overflow-hidden items-start relative">
    <div
        class="home-cta w-full h-[256px] bg-primary-dark relative flex items-start shrink-1 max-lg:h-[400px] max-sm:h-[600px]"
    >
        <div class="home-cta-text md:pl-10 lg:pl-15 xl:pl-20">
            <p
                class="home-cta-text-t1 text-[40px] font-worksans font-bold mt-[53px] break-words max-2xl:pl-[90px] max-xl:pl-[20px] max-md:pl-[10px]"
            >
                Unlock Your Future at Sacred Heart, Kalyan!
            </p>
            <div class="rocket-text flex-row">
                <img class="rocket-img" src="" />
                <p
                    class="home-cta-text-t2 text-white text-[28px] font-worksans font-medium break-words mt-[15px] ml-[5px] max-2xl:pl-[90px] max-xl:pl-[20px] max-lg:text-[24px] max-md:pl-[10px]"
                >
                    Ready to embark on a journey of knowledge, growth, and
                    endless possibilities?
                </p>
            </div>
        </div>
        <div
            class="home-apply-now-cta top-[45px] left-[1260px] w-[245px] h-[169px] flex flex-col absolute items-end flex-shrink-1 max-2xl:left-[1150px] max-xl:left-[1010px] max-lg:left-[350px] max-sm:left-[100px]"
        >
            <Image
                class="home-apply-now-img scale-x-[-1] mr-[12px] w-[240px] h-[115px] pb-[7px] max-lg:mt-[150px] max-sm:mt-[313px]"
                src={bus}
                alt=""
            />
            <a href="" class="text-no-underline cursor-pointer">
                <button
                    class="home-apply-now-btn text-[21px] w-[245px] h-[71px] relative shadow-md pb-[1px] ps-[1.25rem] bg-transparent flex items-center justify-center text-white gap-[10px] font-bold border-[3px] border-white outline-none overflow-hidden text-lg hover:transition-all duration-300 ease-in-out cursor-pointer"
                >
                    Apply Now
                    <svg
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        class="icon w-[25px] h-[25px] transition-all ease-in-out"
                    >
                        <path
                            clip-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                            fill-rule="evenodd"></path>
                    </svg>
                </button>
            </a>
        </div>
    </div>
</div> -->
