---
import { Image } from "astro:assets";
import logo from "../../assets/images/logo1.png";
import whatsapp from "../../assets/images/whatsapp.png";
import SocialBtn from "./SocialBtn.astro";
---

<!-- <footer class="footer">
    <ul class="footer__nav">
        <li>
            <Image class="footer__logo" src={logo} alt="" />
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Media</h2>
            <h3 style="color: red; ">___________</h3>

            <ul class="nav__ul">
                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#About">About</a>
                </li>

                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#Infra">Infrastructure</a>
                </li>

                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#Activities">Our Activities</a>
                </li>

                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#">Gallery</a>
                </li>

                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#Contact">Contact Us</a>
                </li>
            </ul>
        </li>
<!--
        <li class="nav__item">
            <h2 class="nav__title">Academic Divisions</h2>
            <h3 style="color: red; ">___________</h3>

            <ul class="nav__ul">
                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#">Pre-Primary</a>
                </li>

                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#">Primary</a>
                </li>

                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#">Lower Secondary</a>
                </li>

                <li>
                    <i
                        class="bi bi-caret-right"
                        style="font-size: medium; color: #d62828;"></i>
                    <a href="#">Upper Secondary</a>
                </li>
            </ul>
        </li>
-->
        <!--<li class="nav__item">
            <h2 class="nav__title">Follow Us</h2>
            <h3 style="color: red; ">___________</h3>

            <ul class="nav__ul">
                <li>
                    Social Btns
                    <div class="flex md:flex justify-center pt-4">
                        <SocialBtn height={12} width={12} class="mr-2" type="twitter" />
                        <SocialBtn height={12} width={12} class="mr-2" type="instagram" />
                        <SocialBtn height={12} width={12} class="mr-2" type="linkedin" />
                        <SocialBtn height={12} width={12} class="mr-2" type="facebook" />
                        <SocialBtn height={12} width={12} class="mr-2" type="youtube" />
                    </div>
                </li>
                </li>

                <li>&nbsp;</li>

                <li>
                    <button class="btn"><a href="#">Admissions</a></button>
                </li>
            </ul>
        </li>
    </ul>
</footer>-->

<!--Footer Section -->
<hr class="border-gray-500 mx-10" />
<footer class="bg-black">
  <div class="lg:flex justify-between px-8 md:px-12 lg:px-24 py-4" id="footer">
    <div class="grid grid-cols-1 md:grid-cols-6 gap-4 md:gap-20">
      <div class="about-footer cards col-span-2">
        <Image class="footer__logo" src={logo} alt="" />
        
       
      </div>

      <div class="links-footer col-span-2">
        <span class="text-lg md:text-lg sm:text-base font-semibold">
          <p class="footer-title">Links</p>
          <hr class="border-primary w-1/2 mb-2" />
        </span>
        <ul class="text-gray-100">
          <li class="mb-1"><a href="/#About">About Us</a></li>
          <li class="mb-1"><a href="/#Activities">Activities</a></li>
          <li class="mb-1">
            <a href="/#Infrastructure">Infrastructure</a>
          </li>
          <li class="mb-1"><a href="/#Contact">Contact Us</a></li>
          
        </ul>
    </br>
        <span class="text-xl md:text-xl sm:text-lg font-semibold">
            <p class="footer-title">Follow Us</p>
            <hr class="border-primary w-1/2 mb-2" />
        </span>
        <div class="flex md:flex mt-4">
			<SocialBtn height={12} width={12} class="mr-3 btn-sm" type="twitter" />
			<SocialBtn height={12} width={12} class="mr-3 btn-sm" type="instagram" />
			<SocialBtn height={12} width={12} class="mr-3 btn-sm" type="linkedin" />
			<SocialBtn height={12} width={12} class="mr-3 btn-sm" type="facebook" />
			<SocialBtn height={12} width={12} class="mr-3 btn-sm" type="youtube" />
		</div>
      </div>

      <div class="contact-footer col-span-2">
        <span class="text-xl md:text-xl sm:text-lg font-semibold">
          <p class="footer-title">Reach out to us</p>
          <hr class="border-primary w-1/2 mb-2" />
        </span>
        <ul class="text-gray-100">
          <li>Sacred Heart School,</li>
          <li>Kalyan-Murbad Rd,</li>
          <li>Varap, Kalyan West,</li>
          <li>Maharashtra, India</li>
          <li>
            <a class="flex mb-2" href="https://wa.me/918605233000"
            ><img
              src={whatsapp.src}
              alt="chat_on_whatsapp"
              class="whatsapp w-[300px] pt-[15px] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-90 hover:duration-300 hover:cursor-pointer"
            /></a
          >
          </li>
          <li>
            <span class="font-bold text-gray-100">Email:</span>
            <a href="mailto:info@sacredheartschool.in">
                info@sacredheartschool.in
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


<hr class="border-gray-500 mx-10" />
  <!-- <div class="w-full px-14 py-1 bg-zinc-100 text-[#8b8b8b]"> -->
  <div class="w-full px-14 py-1 text-[#8b8b8b] text-sm mb-2">
    <p id="copyright-text" class="mb-1 text-center">
      Copyright &#169 2023 Sacred Heart School, Kalyan
    </p>
    <p id="copyright-text" class="mb-1 text-center">
      Designed & Developed by
      
      <span class="name text-primary">
        <a
          href="https://dbit.acm.org/"
          target="_blank"
        >
          ACM DBIT
        </a>
      </span>
    </p>
  </div>


<style>
      .footer__logo {
      
        border-color: #ED1E27;
        border-width: 1px;
    }
        li {
        padding-top: 0.1rem;
    }
    .about-footer-text {
        padding-top: 1.1rem;
    }
    #footer {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
</style>
