---
interface Props {
    title: string;
    bgSrc: string;
}

const { title, bgSrc } = Astro.props as Props;
const background = `url(${bgSrc})`;
---

<div class="hero flex items-center justify-between px-8 md:px-12 lg:px-20">
    <!-- Hero Content -->
    <div>
        <h3 class="font-bold text-2xl md:text-3xl mb-4 left-bar">{title}</h3>
        <slot />
    </div>
</div>

<style define:vars={{ background }}>
    :root {
        --hero-opacity: 0.4;
    }
    .hero {
        color: #fff;
        background-image: linear-gradient(
                rgba(0, 0, 0, var(--hero-opacity)),
                rgba(0, 0, 0, var(--hero-opacity))
            ),
            var(--background);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
    }
</style>
