---
interface Props {
    href?: string;
    class?: string;
    target?: string;
}

const props = Astro.props as Props;
---

<a
    href={props.href}
    target={props.target}
    class={"btn btn-outline text-white hover:bg-white" +
        (props.class ? " " + props.class : "")}
>
    <slot />
</a>
