---
// Icons
import { Next, Prev } from "../../assets/icons";

// Swiper CSS
import "swiper/css";
import "swiper/css/pagination";

interface Props {
  testimonials: Array<object>;
}
const { testimonials } = Astro.props as Props;
---
<div>
  <div class="py-4 text-justify max-w-[80ch] mx-auto">Parents express genuine appreciation for the impactful school activities in kindergarten, noting significant improvements in their children. The holistic approach, including physical exercises and creative arts, contributes to well-rounded development, leaving parents delighted to see their children thrive in various aspects of their early education.</div>
  <div class="swiper-testimonial overflow-hidden 
  [--swiper-pagination-color:#FFFFFF] 
  [--swiper-pagination-bullet-inactive-color:#FFFFFF] 
  [--swiper-pagination-bullet-inactive-opacity:0.4]"
  >
    <div class="swiper-wrapper">
    {
      testimonials.map((testimonial) => (
        <div class="swiper-slide opacity-75 transition-all duration-300 ease-in-out">
          <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20 select-none">
            <div>
              <h2 class="text-gray-800 text-xl font-semibold">
              {testimonial.name}
              </h2>
              <p class="mt-2 text-gray-600 text-sm">{testimonial.text}</p>
            </div>
          </div>
        </div>
      ))
    }
    </div>
    <div class="swiper-testimonial-pagination"></div>
  </div>
</div>

<style>
  .swiper-testimonial {
    @apply w-full;
  }
  .swiper-slide {
    @apply scale-[.75];
  }
  .swiper-slide-active {
    @apply opacity-100 scale-100;
  }
  .swiper-testimonial-pagination {
    @apply relative;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Autoplay, Pagination } from "swiper/modules";
  Swiper.use([Autoplay, Pagination]);

  new Swiper(".swiper-testimonial", {
    slidesPerView: 3,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 5000,
    },
    loop: true,
    pagination: {
      el: ".swiper-testimonial-pagination",
      dynamicBullets: true,
      clickable: true,
    },
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      // when window width is >= 640px
      540: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      // when window width is >= 1080px
      1080: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      // when window width is >= 1440px
      1440: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
    },
  });
</script>
