---
import { ImageMetadata } from "astro";
// Components
import PageLayout from "../../layouts/PageLayout.astro";
import {
  Section,
  Carousel,
  CenterTitle,
  SectionTitle,
  Accordion,
  CTA,
  TestimonialCarousel,
} from "../../components/layout";
import Activity from "../../components/academic/primary/Activity.astro";


import { AcademicSection } from "../../components/home";
import {
  Dice,
  AcademicCap,
  ExpLearning,
  Beaker,
  ChartBar,
  Sport,
  Pet,
  Parent,
} from "../../assets/icons/academic-sections";


//images
import PrimaryHero from "../../assets/images/pre-school.webp";
import BackToSchool from "../assets/images/schoolbag.png";
const collaborativeLearningImport = await Astro.glob(
  "../../assets/images/primary/collaborative-learning/*.webp"
);
const experientialLearningImport = await Astro.glob(
  "../../assets/images/primary/experiential-learning/*"
);
const integratedLearningImport = await Astro.glob(
  "../../assets/images/primary/integrated-learning/*"
);
const preConceptualImport = await Astro.glob(
  "../../assets/images/primary/preconceptual/*"
);
const soleImport = await Astro.glob("../../assets/images/primary/sole/*");

//videos
import ActivityVid1 from "../../assets/videos/Motor-Skills1.mp4";
import ActivityVid2 from "../../assets/videos/Motor-Skills2.mp4";
import Intro from "../../assets/videos/primary-intro.mp4";

const ImageMapper = (glob: Record<string, any>[]) => {
  const mappedImages = glob.map((file) => {
    const img: ImageMetadata = file.default;
    return img;
  });
  return mappedImages;
};

const collaborativeLearning = ImageMapper(collaborativeLearningImport);
const experientialLearning = ImageMapper(experientialLearningImport);
const integratedLearning = ImageMapper(integratedLearningImport);
const preConceptual = ImageMapper(preConceptualImport);
const sole = ImageMapper(soleImport);
---

<PageLayout
  title="Primary"
  navtext="Home"
  transparentNav={true}
  buttonLink="/"
  bgSrc={`url(${PrimaryHero.src})`}
>
  <p slot="hero-content" class="text-lg">Empowering Minds, Nurturing Futures</p>

  <section class="relative pt-10">
    <!-- Left Accents -->

    <!-- Right Accents -->

    <div
      class="bg-white/20 mx-auto md:w-3/4 2xl:w-3/4 py-10 px-14 relative z-40"
    >
      <CenterTitle title="Page Content" theme="dark" />
      <!-- With 4 Academic Sections -->

      <div class="grid grid-cols-2 gap-8 lg:flex justify-evenly">
        <!-- With 3 Academic Sections -->
        <!-- <div class="flex justify-evenly"> -->

        <AcademicSection href="/primary/academics" title="Academics">
          <AcademicCap slot="icon" height={8} width={8} />
        </AcademicSection>

        <AcademicSection
          href="/primary/beyond-classroom"
          title="Beyond Classroom"
        >
          <Beaker slot="icon" height={8} width={8} />
        </AcademicSection>

        <AcademicSection href="/primary/events" title="Events">
          <Dice slot="icon" height={8} width={8} />
        </AcademicSection>

        <AcademicSection href="/primary/sports" title="Sports">
          <Sport slot="icon" height={8} width={8} />
        </AcademicSection>

        <AcademicSection
          href="/primary/parent-testamonial"
          title="Parent's Testimonials"
        >
          <Parent slot="icon" height={8} width={8} />
        </AcademicSection>
      </div>
    </div>
  </section>
  <div class="mt-10"></div>


  <Section theme="accent" class="pb-[60px]">
    <CenterTitle title="Academics" theme="accent" />
    <Accordion
      section="primary"
      tabs={[
        {
          title: "Curriculum",
        },
        {
          title: "Subjects",
        },
        {
          title: "Planner",
        },
      ]}
    />
    <!--Video section -->
    <div class="bg-white rounded-3xl p-8 lg:p-24">
      <CenterTitle
        title="Exploring the Essence of Sacred Hearts: A Glimpse into Sacred Hearts School "
      />
      <video
        autoplay="true"
        preload="true"
        controls="true"
        loop="false"
        class="mx-auto rounded-3xl"
      >
        <source src={Intro} type="video/mp4" />
      </video>
    </div>
    <!-- <div
      class="relative flex justify-center items-center bg-white h-[400px] w-[300px] rounded-md mx-auto sm:h-96 sm:w-[595px] md:h-[400px] md:w-[665px] lg:h-144 lg:w-[945px] xl:h-160 xl:w-[1050px]"
    >
      <div class="flex flex-col justify-center items-center">
        <video
          preload="true"
          controls="true"
          playsinline=""
          loop="false"
          class="relative mx-auto h-[150px] w-[250px] bg-transparent rounded-md sm:h-[200px] sm:w-[300px] md:h-[250px] md:w-[400px] lg:h-[300px] lg:w-[600px]"
        >
          <source src={Intro} type="video/mp4" /></video
        >
        <p class="text-slate-600 mt-3 italic">Your video description here</p>
      </div>
    </div> -->
  </Section>
  <CTA />
</PageLayout>
