---
import Layout from "../layouts/Layout.astro";
import { Section } from "../components/layout";

---

<Layout
  title="Admissions"
  navtext="Home"
  transparent={false}
  buttonLink="/"
>
  
  <!-- ***** Hero Section ***** -->
	<div class="hero flex items-center justify-between px-4 md:px-12 lg:px-20">
		<!-- Left Red Bar -->
		<div
			class="h-1/6 md:h-1/6 w-4 md:w-8 left-4 absolute bg-primary text-primary"
		>
			.
		</div>

		<!-- Hero Content -->
		<div class="self-middle mb-6 md:mr-44 ml-12 lg:ml-4">
			<h4 class="font-bold md:ml-4 sm:ml-4 mb-4 lg:text-3xl md:text-xl sm:text-xl">
				<span class="text-white">Admissions</span>
			</h4>
			<p class="font-base text-lg md:text-xl sm:text-sm md:ml-4 leading-normal">
				Offer your child the invaluable gift of 'Education at Sacred Heart School'</br>- an investment in lifelong learning and growth.
      </p>
		</div>
  </div>

  <Section title="Got Any Questions?">
    <!-- <div class="flex justify-center mb-4">
      <div class="text-black relative inline-block font-bold text-2xl">
        Got Any Questions?
        <span
          class="after:content-[''] after:block after:w-3/4 after:h-0.5 after:bg-red-500 after:absolute after:bottom-0 after:-left-1/2 after:transform after:-translate-x-1/2"
        ></span>
      </div>
    </div> -->

    
  
      <div class="flex-wrap grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- Left side -->
        <!-- <div class="lg:w-1/2 px-4 lg:px-0"> -->
          <div>
            <h1 class="text-2xl font-bold text-black pb-4">Enquiry Form</h1>
            <p class="text-black pr-4">
              Have a question? Feel free to get in touch with us by filling out the enquiry form. We look forward to getting in touch with you.
            </p>
          </div>
        <!-- </div> -->

        <!-- Right side -->
        <div class="w-full bg-primary-dark p-8 text-white">
          <div class="mb-4">
            <input
              type="text"
              class="w-full bg-transparent input border-white border-2 placeholder-gray-100 rounded-none"
              placeholder="Name of Student"
            />
          </div>
          <div class="mb-4 ">
            <input
              type="text"
              class="w-full bg-transparent input border-white border-2 placeholder-gray-100 rounded-none"
              placeholder="Name of Parent"
            />
          </div>
          <div class="mb-4">
            <!-- <input 
              type="date"
              class="w-full bg-transparent input border-white border-2 placeholder-gray-100 rounded-none text-gray-100"
              placeholder="Date of Birth"
              name="date of birth"> -->
            <input placeholder="Date of Birth" type="text" onfocus="(this.type = 'date')"  id="date" class="w-full bg-transparent input border-white border-2 placeholder-gray-100 rounded-none text-gray-100">
          </div>
          <div class="mb-4">
            <input
              type="text"
              class="w-full bg-transparent input border-white border-2 placeholder-gray-100 rounded-none "
              placeholder="Contact Number"
            />
          </div>
          <div class="mb-4">
            <input
              type="text"
              class="w-full bg-transparent input border-white border-2 placeholder-gray-100 rounded-none"
              placeholder="Email Address"
            />
          </div>
          <div class="flex justify-between">
            <div class="w-full md:w-2/5 relative">
              <select class="select w-full appearance-none bg-white border-white border-2 shadow-md rounded-none max-w-xs h-full text-black">
                <option class="text-white" disabled selected>Grade</option>
                <option>Pre-School</option>
                <option>Primary</option>
                <option>Lower Secondary</option>
                <option>Upper Secondary</option>
              </select>
            </div>      
            <button class="w-full md:w-2/5 bg-white text-black leading-relaxed font-semibold md:ml-0 ml-4">Submit</button>
          </div>
        </div>
      </div>

    </Section>
</Layout>


<style>
	:root {
		--hero-opacity: 0.4;
	}
	.hero {
		color: #fff;
		background-image: linear-gradient(
				rgba(0, 0, 0, var(--hero-opacity)),
				rgba(0, 0, 0, var(--hero-opacity))
			),
			url("src/assets/images/Admission.JPG");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 90vh;
	}
</style>