---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
---

<Layout title="Admissions" navtext="Home" transparent={false} buttonLink="/index">
    <br><br><br>
    <Section>
        
    </Section>
</Layout>