---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import OutlineBtn from "../components/OutlineBtn.astro";
import Section from "../components/Section.astro";
import VisionMission from '../components/VisionMission.astro';
import Objective from '../components/Objective.astro';
import HeroImg from "../assets/images/home.jpg";

const heroImageSrc = "../assets/images/home.jpg";
---

<Layout title="Home">
	<!-- <Image class="opacity-40" src={HeroImg} alt="hero img" /> -->
	<div class="hero flex items-center">
		<div class="content">
			<h3>Welcome to Sacred Heart School</h3>
			<h1>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
				fringilla vehicula sollicitudin
			</h1>
			<div class="flex">
				<OutlineBtn class="mr-5">Watch</OutlineBtn>
				<OutlineBtn>Explore</OutlineBtn>
			</div>
		</div>
	</div>
	<Section class="text-white">
		<h2>Section Title</h2>
		 Lorem ipsum dolor sit amet consectetur adipisicing elit. Non rem
		accusamus tempore omnis, corrupti excepturi! Hic quasi, ab nam iure,
		consequuntur aspernatur sed dolor possimus rem, sit natus perferendis
		nobis magnam eaque rerum vel quidem nesciunt optio eos saepe placeat.
		Sapiente exercitationem amet, soluta, aperiam, mollitia saepe error
		molestiae tempore architecto laudantium incidunt aspernatur aut
		provident esse quo quod eum.
	</Section>
  <!-- Vision / Mission -->
  <Section>
    <!-- Mission -->
    <VisionMission
      Title="Our Mission"
      Image={heroImageSrc}
      Description="To imbibe aptitude and skills in students required for solving problems of humanity who empathetically find joy in making eveyone's life beautiful"
      RTL=true
    />
    <!-- Objectives -->
    <div class="flex flex-col md:flex-row">
      <Objective/>
      <Objective/>
      <Objective/>
      <Objective/>
    </div>
    <!-- Vision -->
    <VisionMission
      Title="Our Vision"
      Image={HeroImg}
      Description="To be a hub of ideation and creativity, nurturing future citizen leaders instilled with indispensible values for ethical, healthy and joyful life"
      RTL=false
    />
  </Section>
</Layout>

<style define:vars={{ heroImageSrc }}>
	.hero {
		color: #fff;
		background-color: black;
		background-image: var(--heroImageSrc);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 80vh;
	}
</style>
