---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
    title="Pre School"
    navtext="Home"
    transparentNav={false}
    buttonLink="/"
    bgSrc="/assets/images/admission-hero.webp"
>
    <p slot="hero-content" class="text-lg">
        Offer you child the invaluable gift of 'Education at Sacred Heart
        School'
        <br />
        <span class="text-base">
            - an investment in lifelong learning and growth.
        </span>
    </p>

    <h1>Page Title</h1>
    <p>Page content</p>
</PageLayout>
