---
// Components
import PageLayout from "../layouts/PageLayout.astro";
import { Section } from "../components/layout";

// Assets
import PreSchoolHero from "../assets/images/pre-school.webp";
---

<PageLayout
    title="Pre School"
    navtext="Home"
    transparentNav={false}
    buttonLink="/"
    bgSrc={`url(${PreSchoolHero.src})`}
>
    <p slot="hero-content" class="text-lg">
        Tiny Steps, Big Adventures
    </p>

    <!-- Academics -->
    <!-- Experiential Learning -->
    <!-- Activities -->
    <!-- Life Skills & Values -->
    <!-- Events -->
    <!-- Sports -->
    <!-- Testimonials -->
    <!-- Therapy -->
</PageLayout>
