---
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import {
    Section,
    SectionTitle,
    AlternateSectionTitle,
    CarouselSubtext,
} from "../components/layout";

// Types
import type { slide } from "../components/layout/types";

// Assets
import SecondaryHero from "../assets/images/secondary/hero.png";
const Electives = await Astro.glob(
    "../assets/images/secondary/electives/*.webp",
);
import ElectiveDescription from "../assets/images/secondary/electives/description.json";
const LearningPathways = await Astro.glob(
    "../assets/images/secondary/learning-pathways/*.jpg",
);

const ImageMapper = (glob: Record<string, any>[], description?: any) => {
    const mappedImages = glob.map((file) => {
        const title = file.default.src.split("/").pop().split(".")[0];
        const img: ImageMetadata = file.default;
        const obj: slide = { img, title };
        if (description) obj["description"] = ElectiveDescription[title];
        return obj;
    });
    return mappedImages;
};

const mappedElectives = ImageMapper(Electives, ElectiveDescription);
const mappedLearningPathways = ImageMapper(LearningPathways);

console.log(mappedLearningPathways);
---

<PageLayout
    title="Secondary"
    navtext="Home"
    transparentNav={false}
    buttonLink="/"
    bgSrc={`url(${SecondaryHero.src})`}
>
    <p slot="hero-content">
        Welcome to Our Secondary Section. We invite you to explore the myriad
        possibilities that await in our secondary section. Discover the
        excitement of elective subjects, the practicality of life skills, and
        the joy of lifelong learning. Together, let's embark on a journey of
        education that goes beyond the ordinary.
    </p>

    <Section title="Electives-Unlocking your Potential">
        <p class="mb-8">
            Sacred Heart School is committed to empowering students to pursue
            their interests and passions. Our elective courses go beyond being
            traditional subjects; they act as pathways to self-discovery, skill
            enhancement, and a holistic education that equips students for the
            challenges of the future. Delve into exploration, actively
            participate, and unlock your complete potential with the diverse
            elective offerings we provide. At Sacred Heart School, each student
            completes three elective courses tailored to their individual
            aptitudes.
        </p>
        <CarouselSubtext slides={mappedElectives} id="1" />

        <AlternateSectionTitle title="Learning Pathways" />
        <p class="mb-8">
            Join the festive spirit at Sacred Heart School, where celebrations
            create a vibrant tapestry of unity, joy, and unforgettable memories
            for our school community."
        </p>
        <CarouselSubtext slides={mappedLearningPathways} id="2" />
    </Section>
</PageLayout>
