---
// Layout
import PageLayout from "../layouts/PageLayout.astro";

// Components
import {
    Section,
    CenterTitle,
    SectionTitle,
    CarouselSubtext,
} from "../components/layout";

// Types
import type { slide } from "../components/layout/types";

// Assets
import SecondaryHero from "../assets/images/secondary/hero.png";
const Electives = await Astro.glob(
    "../assets/images/secondary/electives/*.webp",
);
import ElectiveDescription from "../assets/images/secondary/electives/description.json";
const LearningPathways = await Astro.glob(
    "../assets/images/secondary/learning-pathways/*.jpg",
);

const ImageMapper = (glob: Record<string, any>[], description?: any) => {
    const mappedImages = glob.map((file) => {
        const title = file.default.src.split("/").pop().split(".")[0];
        const img: ImageMetadata = file.default;
        const obj: slide = { img, title };
        if (description) obj["description"] = ElectiveDescription[title];
        return obj;
    });
    return mappedImages;
};

const mappedElectives = ImageMapper(Electives, ElectiveDescription);
const mappedLearningPathways = ImageMapper(LearningPathways);

console.log(mappedLearningPathways);
---

<PageLayout
    title="Secondary"
    navtext="Home"
    transparentNav={false}
    buttonLink="/"
    bgSrc={`url(${SecondaryHero.src})`}
>
    <p slot="hero-content">
        Welcome to Our Secondary Section. We invite you to explore the myriad
        possibilities that await in our secondary section. Discover the
        excitement of elective subjects, the practicality of life skills, and
        the joy of lifelong learning. Together, let's embark on a journey of
        education that goes beyond the ordinary.
    </p>

    <Section theme="accent">
        <CenterTitle title="Academics" />
        <div class="p-10 rounded-md md:flex justify-evenly bg-white text-black">
            <div class="w-full md:w-1/2">
                <h3 class="text-2xl font-bold mb-4">Excellence in Education</h3>
                <p>
                    Education takes on new dimensions, inspiring students to
                    explore, learn, and grow. Our commitment to excellence
                    extends beyond the classroom, creating an environment that
                    nurtures intellectual curiosity and personal development.
                </p>
            </div>
            <div class="divider md:divider-horizontal divider-error py-4"></div>
            <div class="w-full md:w-1/2">
                <h3 class="text-2xl font-bold mb-4">Curriculum</h3>
                <p>
                    Our curriculum adheres to the CBSE-based framework,
                    strategically designed to foster intellectual growth and
                    curiosity among our students.We focus on a well-rounded and
                    challenging academic program with the goal of preparing
                    students for success not only in higher education but also
                    in their endeavors beyond the educational realm. Our devoted
                    team of experienced educators is deeply passionate about
                    kindling a love for knowledge and providing guidance
                    throughout each student's educational journey.
                </p>
            </div>
        </div>
    </Section>

    <Section title="Electives-Unlocking your Potential">
        <p class="mb-8">
            Sacred Heart School is committed to empowering students to pursue
            their interests and passions. Our elective courses go beyond being
            traditional subjects; they act as pathways to self-discovery, skill
            enhancement, and a holistic education that equips students for the
            challenges of the future. Delve into exploration, actively
            participate, and unlock your complete potential with the diverse
            elective offerings we provide. At Sacred Heart School, each student
            completes three elective courses tailored to their individual
            aptitudes.
        </p>
        <CarouselSubtext slides={mappedElectives} id="1" />

        <SectionTitle title="Learning Pathways" />
        <p class="mb-8">
            Join the festive spirit at Sacred Heart School, where celebrations
            create a vibrant tapestry of unity, joy, and unforgettable memories
            for our school community."
        </p>
        <CarouselSubtext slides={mappedLearningPathways} id="2" />
    </Section>
</PageLayout>
