---
interface Props {
	title: string;
  image: ImageMetadata;
  desc: Array<string>;
  name?: string;
  rtl?: boolean;
}

const { title, image, desc, name, rtl } = Astro.props;
---
<div class="flex relative flex-col rounded-xl my-4 lg:flex-row lg:items-stretch bg-slate-800 lg:bg-primary-dark shadow-xl w-fit mx-auto">
  <div class="p-8 w-full flex gap-8 flex-col items-center lg:items-start">
    <p 
      class="text-2xl font-bold text-center relative before:absolute before:h-1 before:w-full before:-bottom-4 before:left-0 before:bg-primary lg:before:w-1 lg:before:h-full lg:before:bottom-0 lg:before:bg-white lg:before:-left-3"
    >{title}</p>
    <div class={`w-full flex gap-8 lg:gap-4 justify-evenly flex-col-reverse ${rtl ? "lg:flex-row-reverse" : "lg:flex-row"}`}>
      <div class="flex flex-col gap-2">
      {desc.map(para => (
        <p class="text-sm lg:text-xs xl:text-sm text-justify max-w-[80ch]">{para}</p>
      ))}
      </div>
      <div class="mx-auto max-w-xs lg:shrink-0">
        <img class="rounded-full object-cover aspect-square lg:aspect-auto lg:rounded-xl" src={image.src} alt="Album"/>
        <p class="text-lg w-fit font-bold mx-auto">{name}</p>
      </div>
    </div>
  </div>
  
</div>
