<div class="carousel w-full h-96">
    <div id="slide1" class="carousel-item relative w-full">
      <img src="/assets/images/galleryhome/galleryh7.jpeg" class="w-full h-full object-cover lazyload" loading="lazy" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide10" class="btn btn-circle">❮</a> 
        <a href="#slide2" class="btn btn-circle">❯</a>
      </div>
    </div> 
    <div id="slide2" class="carousel-item relative w-full">
      <img src="/assets/images/galleryhome/galleryh2.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide1" class="btn btn-circle">❮</a> 
        <a href="#slide3" class="btn btn-circle">❯</a>
      </div>
    </div> 
    <div id="slide3" class="carousel-item relative w-full">
      <img src="/assets/images/galleryhome/galleryh1.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide2" class="btn btn-circle">❮</a> 
        <a href="#slide4" class="btn btn-circle">❯</a>
      </div>
    </div> 
    <div id="slide4" class="carousel-item relative w-full">
      <img src="/assets/images/galleryhome/galleryh3.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide3" class="btn btn-circle">❮</a> 
        <a href="#slide5" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide5" class="carousel-item relative w-full">
        <img src="/assets/images/galleryhome/galleryh4.jpeg" class="w-full h-full object-cover lazyload" loading="lazy" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide4" class="btn btn-circle">❮</a> 
          <a href="#slide6" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide6" class="carousel-item relative w-full">
        <img src="/assets/images/galleryhome/galleryh5.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide5" class="btn btn-circle">❮</a> 
          <a href="#slide7" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide7" class="carousel-item relative w-full">
        <img src="/assets/images/galleryhome/galleryh6.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide6" class="btn btn-circle">❮</a> 
          <a href="#slide8" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide8" class="carousel-item relative w-full">
        <img src="/assets/images/galleryhome/galleryh8.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide7" class="btn btn-circle">❮</a> 
          <a href="#slide9" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide9" class="carousel-item relative w-full">
        <img src="/assets/images/galleryhome/galleryh9.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide8" class="btn btn-circle">❮</a> 
          <a href="#slide10" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide10" class="carousel-item relative w-full">
        <img src="/assets/images/galleryhome/galleryh10.jpg" class="w-full h-full object-cover lazyload" loading="lazy" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
          <a href="#slide9" class="btn btn-circle">❮</a> 
          <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
      </div>
  </div>

  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh1.JPG">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh2.JPG">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh3.jpg">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh4.jpeg">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh5.jpg">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh6.jpg">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh7.jpg">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh8.jpg">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh9.jpg">
  <link rel="preload" as="image" href="/assets/images/galleryhome/galleryh10.jpg">