---
const WEB_APP_URL =
  "https://script.google.com/macros/s/AKfycbwIOY0YJK7T7-k1kSN69iuBRJSWRHNqcsO__7dlQ_3NdEcQ3Zc-yBayisEC45KziblSAw/exec";
---

<body class="overflow-hidden">
  <div
    id="popup"
    class="fixed inset-0 items-center justify-center bg-black bg-opacity-50 z-50"
  >
    <div
      class="relative md:w-2/3 w-full bg-black bg-opacity-60 p-8 rounded-lg text-center"
    >
      <button
        id="top-right-close-button"
        class="absolute top-6 right-2 text-white text-2xl">&times;</button
      >
      <h1 class="mt-3 text-white text-xl font-bold">
        Welcome to Sacred Heart School!
      </h1>
      <p class="text-white mt-4">
        Admissions for the Academic year 2025-26 have started
        <br />
        for Grades Nursery, Jrkg, Srkg, 1st & 11th.
      </p>
      <div class="mt-3"></div>
      <div class="flex w-full justify-center rounded-lg">
        <form
          class="md:w-3/5 bg-primary-dark p-8 text-white rounded-lg relative"
          id="EnquiryForm"
          name="EnquiryForm"
        >
          <!-- Loading Overlay -->
          <div
            class="hidden w-full h-full absolute top-0 left-0 bg-black opacity-50 justify-center items-center"
            id="loadingOverlay"
          >
            <span class="loading loading-spinner loading-lg"></span>
          </div>
          <!-- Form -->
          <input
            type="text"
            class="text-input"
            name="Student Name"
            id="StudentName"
            placeholder="Name of Student"
            required
          />

          <input
            type="text"
            class="text-input"
            id="ParentName"
            name="Parent Name"
            placeholder="Name of Parent"
            required
          />

          <input
            type="text"
            class="text-input"
            id="dob"
            name="DOB"
            onfocus="(this.type='date')"
            placeholder="Date of Birth"
            required
          />

          <input
            type="number"
            class="text-input"
            id="ContactNumber"
            name="Contact Number"
            placeholder="Contact Number"
            required
          />

          <input
            type="email"
            class="text-input"
            id="email"
            name="Email"
            placeholder="Email"
            required
          />

          <div class="flex justify-evenly gap-1">
            <!-- Grade Selection -->
            <select
              class="select select-bordered border-2 border-white rounded-none bg-black w-min active:border-white"
              name="Grade"
              id="grade"
              required
            >
              <option disabled selected value="">Grade</option>
              <option value="Nursery">Nursery</option>
              <option value="JR KG">JR KG</option>
              <option value="SR KG">SR KG</option>
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
              <option value="V">V</option>
              <option value="VI">VIth</option>
              <option value="VII">VII</option>
              <option value="VIII">VIII</option>
              <option value="IX">IX</option>
              <option value="X">X</option>
              <option value="XI">XI</option>
              <option value="XII">XII</option>
            </select>
            <!-- Submit Button -->
            <button
              type="submit"
              class="enquiryform-btn w-1/2 md:w-2/5 bg-white text-black leading-relaxed font-semibold md:ml-0 ml-4"
              id="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <style>
    .text-input {
      @apply w-2/4 mb-4 py-2 px-4 bg-transparent text-white placeholder-gray-100 border-white border-2 rounded-none active:border-white;
      line-height: 0.5;
      width: 100%;
      background-color: #cad4cf6c;
    }
    .primary-dark {
      @apply bg-primary-dark;
      width: 75%;
    }
    #grade {
      background-color: #cad4cf6c;
    }
    #EnquiryForm {
      padding: 2%;
    }
    /* Remove Inc/Dec Btns for number input */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    select option {
      background-color: #fff;
      color: #000;
    }

    #submit:hover {
      background-color: #c11921;
      color: #fff;
      border-color: #fff;
      border-width: 2px;
    }
    #popup {
      display: none;
    }
  </style>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      const popup = document.getElementById("popup");
      const topRightCloseButton = document.getElementById(
        "top-right-close-button"
      );

      const handleClosePopup = () => {
        if (popup) {
          popup.style.display = "none";
        }
        document.body.style.overflow = "auto";
      };

      if (topRightCloseButton && popup) {
        topRightCloseButton.addEventListener("click", handleClosePopup);
      }
    });
  </script>
  <script define:vars={{ WEB_APP_URL }}>
    const applyButton = document.getElementById("applyButton");
    const form = document.forms["EnquiryForm"];
    const loadingOverlay = document.querySelector("#loadingOverlay");

    if (applyButton) {
      applyButton.addEventListener("click", function () {
        effect = true;
        window.open(
          "https://icici.myclassboard.com/ApplicationForm_Custom/F11FFA3C-646C-41C4-8A28-C30A4BE13D1F/1/",
          "_blank"
        );
      });
    }

    const validEmail = (email) => {
      const re = /\S+@\S+\.\S+/;
      return re.test(email);
    };

    const validPhone = (phone) => {
      const re = /^\d{10}$/;
      return re.test(phone);
    };

    const submitHandler = async (e) => {
      e.preventDefault();

      loadingOverlay.classList.remove("hidden");
      loadingOverlay.classList.add("flex");

      const studentName = form["StudentName"].value;
      const parentName = form["ParentName"].value;
      const dob = form["dob"].value;
      const contactNumber = form["ContactNumber"].value;
      const email = form["Email"].value;
      const grade = form["grade"].value;

      if (
        !studentName ||
        !parentName ||
        !dob ||
        !contactNumber ||
        !email ||
        !grade
      ) {
        alert("Please fill all the fields");
        return;
      }

      if (!validEmail(email)) {
        alert("Please enter a valid email");
        return;
      }

      if (!validPhone(contactNumber)) {
        alert("Please enter a valid phone number");
        return;
      }

      const formData = new FormData(form);

      let res = await fetch(WEB_APP_URL, {
        method: "POST",
        body: formData,
      });
      res = await res.json();

      if (res.result === "success") {
        alert(
          "Thank you, your query has been submitted. We will get back to you soon"
        );
        form.reset();
      } else {
        alert("Something went wrong. Please try again later");
      }

      loadingOverlay.classList.add("hidden");
      loadingOverlay.classList.remove("flex");
    };

    form.addEventListener("submit", submitHandler);
  </script>
</body>
