
---
interface Props {
	tagline: string;
}

const { tagline } = Astro.props;
---

<div class="flex items-center justify-center m-8">
    <div class="w-3/4 flex items-center justify-center bg-primary-dark">

        <p class="text-white text-lg font-semibold p-6 text-center">{tagline}</p>

    </div>
</div>
