
---
interface Props {
	tagline: string;
}

const { tagline } = Astro.props;
---

<div class="flex items-center justify-center m-8 transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110 duration-300">
    <div class="w-3/4 flex items-center justify-center bg-primary-dark">

        <p class="text-white lg:text-lg md:text-base sm:text-xs text-center font-semibold p-6 md:p-2 sm:p-2">{tagline}</p>

    </div>
</div>
