---
// Navbar component
// variant - light | transparent

import { Image } from "astro:assets";
import logo from "../assets/images/logo.webp";

interface Props {
    text: string;
    transparent?: boolean; // transparent | light
    button_link: string;
}

const props = Astro.props as Props;
---

<header
    class={"fixed z-50 flex items-center justify-between w-full px-4 md:px-12 xl:px-32 py-8" +
        (props.transparent === true
            ? " hover:bg-black/75 transition-colors duration-500"
            : " bg-white")}
>
    <!-- Brand -->
    <div class="w-40 md:w-auto">
        <Image src={logo} alt="logo" />
    </div>

    <!-- Nav -->
    <ul class="flex items-center text-lg md:text-xl font-bold">
        <a href={ props.button_link }><button class="bg-primary text-white px-6 py-1 mr-4 md:mr-12"
            >{props.text}</button
        ></a>
        <div class="text-primary flex items-center">
            <span class="hidden md:block mr-2">Menu</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#ED1E27"
                class="w-8 h-8"
            >
                <path
                    fill-rule="evenodd"
                    d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
    </ul>
</header>

<script define:vars={{ transparent: props.transparent }}>
    if (transparent)
        // Change Opacity on Scroll
        window.addEventListener("scroll", () => {
            const navbar = document.querySelector("header");
            const scroll = window.scrollY;
            if (scroll > 0) {
                navbar?.classList.add("bg-black");
                navbar?.classList.remove("hover:bg-black/75");
            } else {
                navbar?.classList.remove("bg-black");
                navbar?.classList.add("hover:bg-black/75");
            }
        });
</script>
