---
import { getImage } from "astro:assets";

interface Props {
  title: string;
  image: string | ImageMetadata;
  desc: string;
  rtl?: boolean;
}

const { title, image, desc, rtl } = Astro.props;
const Img = await getImage({
    src: image
});
---
<!-- container -->
<span class={`my-12 flex flex-col gap-12 ${rtl ? 'md:flex-row' : 'md:flex-row-reverse'}`}>
  <!-- Text -->
  <span class="flex w-[60ch] flex-col justify-center gap-4">
    <!-- Title -->
    <p class="text-xl font-bold">{title}</p>
    <!-- Description -->
    <p class="text-justify">{desc}</p>
  </span>
  <!-- Image -->
  <span class="relative h-48">
    <span class={`absolute bg-primary w-[100vw] h-64 ${rtl ? 'bottom-0 left-[30%]' : 'right-[30%] -translate-y-[15%]'}`}></span>
    <span class={`absolute bg-slate-300 w-40 h-40 ${rtl ? '' : ''}`}></span>
    <img 
      class={`overflow-hidden relative h-48 ${rtl ? 'rounded-tr-[60px]' : 'rounded-tl-[60px]'}`}
      src={Img.src} 
      alt={title + " image"}/>
  </span>
</span>
